<div class="m-formItem">
    {{#if label}}
        <label for="{{name}}" class="m-formItem__label">{{label}}</label>
    {{/if}}
    <div class="m-formItem__group">
        {{> @partial-block }}
    </div>
</div>
